Source: zorin-desktop-themes
Section: misc
Priority: optional
Maintainer: Artyom Zorin <azorin@zoringroup.com>
Build-Depends: debhelper (>= 10.3)
Standards-Version: 4.6.2

Package: zorin-desktop-themes
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gtk2-engines-murrine
Description: Zorin OS desktop themes
 The Zorin OS desktop theme provided in a variety of color combinations.
